/*
Author: Hunter Doty
Date: 5/8/24
File Name: applyCH7.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #c8dbE3;
}

/* Style rules for mobile viewport */

/* Style rule for header */
header {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.2em;
	background-color: #183440;
	color: #fff;
	padding: 2%;
}

/* Style rules for nav area */
nav {
	background-color: #183440;
	padding: 0.5%;
}

nav li {
	display: inline;
}

nav li a {
	color: #fff;
	padding: 1% 3%;
	text-decoration: none;
}

/* Style rules for main content  */
main {
	padding: 1em;
	background-color: #fff;
}

footer {
	font-size: .70em;
	text-align: center;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 650px), print {
    
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1024px), print {
    
}

/* Your additional styles */

/* CSS Reset */
section, article, aside {
    margin: 0;
    padding: 0;
}

/* Mobile Styles */
main {
    width: 90%;
    margin: auto;
}

section {
    background-color: #183440;
    color: #fff;
    margin-top: 4%;
    padding: 3%;
}

article {
    margin-top: 1%;
    padding: 2%;
}

aside {
    background-color: rgba(24, 52, 64, 0.3);
    padding: 2%;
    margin-top: 1%;
    color: #183440;
    box-shadow: 4px 4px 10px #183440;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    aside {
        grid-column: span 2;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    aside {
        grid-column: span 4;
    }
}
