/*
Author: Hunter Doty
Date:5/9/2024
File Name:5/9/2024 
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}

/* Style rule for the table element */
table {
    width: 80%;
    margin: 0 auto;
    border: 3px solid #71881b;
}

/* Style rule for table, tr, th, and td selectors */
table, tr, th, td {
    border-collapse: collapse;
    padding: 2%;
}

/* Style rule for the caption element */
caption {
    font-size: 2em;
    padding: 2%;
    margin-top: 2%;
}

/* Style rule for th and td selectors */
th, td {
    border: 1px solid #7188bb;
}

/* Style rule for td */
td {
    text-align: center;
}

/* Style rule for tr */
tr:nth-child(odd) {
    background-color: #d3e788;
}
